venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
.vscode
.mypy_cache
*.egg-info/
*/*.rock
clouds.yaml

# Mac filesystem artifact
**/.DS_Store
**./.DS_Store

# Testing artefacts
testing_key.pem
