name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || 
    github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      provider: lxd
      modules: '["test_charm", "test_upgrade"]'
      self-hosted-runner: true
      self-hosted-runner-arch: X64
      self-hosted-runner-label: pfe-ci
      builder-runner-label: X64
      pre-run-script: |
        -c "lxc list
        IP=$(lxc list -c 4 --format csv | awk '{print $1}' | head -n 1)
        echo '$IP'
        sudo nft insert rule ip aproxy prerouting index 0 ip saddr != $IP return"
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
